apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

labels:
- pairs:
    managed-by: argocd
  includeSelectors: false
  includeTemplates: true
